<!doctype html>
<html lang="es">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>Null jaja</title>
</head>

<body>
	<main>
		<h1>Productos</h1>
		<div>
			<ul>
				<% productos.forEach((producto)=> { %>
					<li id="<%= producto.producto_id %>" class="card_product">
						<img src="<%= producto.imagen_url%>" alt="<%= producto.nombre %>"
							width="200" />
						<p>Precio: $<%= producto.precio %>
						</p>
						<p>Descripción: <%= producto.descripcion %></p>
						
						<!-- endpoint de editar-productos está montado en productos
						 por eso va al inicio-->
						<form class="pedido_de_borrado" data-id="<%= producto.producto_id %>">
							<button type="submit">Borrar Producto</button>
						</form>
						<br>
					</li>
				<% }) %>
			</ul>
		</div>

		<div>
			<h3>Agregar productos</h3>
			
			<form id="agregar_producto">
				
				<label for="nombre_del_producto">Nombre del producto:</label>
				<input type="text" id="nombre_del_producto" name="nombre_del_producto" required>
				
				<button type="submit">Agregar Producto</button>
			</form>
		</div>
	</main>

	<script src="/scripts/borrar-producto.js" type="module"></script>
</body>

</html>
